.contact {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  gap: 10px;
}

.contactData {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
